<div class="signup">

  <h1 class="titolsignup">Create your profile</h1>

  <form action="/auth/signup" method="POST">
    <label>
      New Username:
      <input type="text" name="username" />
    </label>
    <label>
      New Password:
      <input type="password" name="password" />
    </label>
    <button type="submit">Join</button>
  </form>

</div>